	<i class="fa fa-balance-scale text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#58401e;"></i>
	<p>Disciplinarias</p>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead class="thead-default">
			<tr>
				<th>Sanciones</th>
				<th>Investigaciones</th>
				<th>Suspensiones</th>
				<th>Separaciones</th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container_fluid">
	<div class="row">
	<section id="sanciones" class="card col-md-4">
		<h2 class="card-header">Sanciones</h2>
		<div class="card-block">
			<ul>
				<li>Fecha:</li>
				<li>Novedad:</li>
				<li>Clase Novedad:</li>
				<li>Numero Expediente:</li>
				<li>Hechos:</li>
				<li>N° Dispo:</li>
				<li>Dispocision:</li>
				<li>Grado:</li>
			</ul>
		</div>
	</section>
	
	<section id="investigaciones" class="card col-md-4">
		<h2 class="card-header">Investigaciones</h2>
		<div class="card-block">
			
		</div>
	</section>
		<section id="investigaciones" class="card col-md-4">
			<h2 class="card-header">Suspensiones</h2>
			<div class="card-block">
			
			</div>
		</section>
	
	</div>
	</div>
