{% extends 'default/base.html.twig' %}
{% block header %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'>
	</script>
	<header id="inicio">
		<div id="header-image" class="mx-auto my-auto text-center">
				<i class="fa fa fa-paper-plane-o text-center card-img-top" aria-hidden="true" style="font-size:80px; color:white;"></i>
			<p>bienvenidos</p>
			<h2 class="text-center ">Ascensos en Linea</h2>
		</div>
	</header>
{% endblock %}
{% block main %}
	<main class="container_fluid" style="padding-top: 3em">
	

	
	<section class="container">
		<div class="card-deck">
		  <div class="card">
			  	<i class="fa fa-address-book text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#005f8e;"></i>
		 	 <h3 class="card-header text-center">Junta Clasificadora</h3>
			  	<div class="card-block">
			   
				    <p class="card-text">En este espacio puedes ver la informacion necesaria para evaluar al personal propuesto para ascenso.</p>
				  
			  	</div>
			</div>
			 <div class="card">
			  	<i class="fa fa-ambulance text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#a94442;"></i>
		 	 <h3 class="card-header text-center">Sanidad</h3>
			  	<div class="card-block">
			   
				    <p class="card-text">Para el Ascenso del Personal de Oficiales y Suboficiales puedes ver la informacion  Ingresada en el SIATH</p>
				    
			  	</div>
			</div>
			 <div class="card">
			  	<i class="fa fa-balance-scale text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#58401e;"></i>
		 	 <h3 class="card-header text-center">Disciplinario</h3>
			  	<div class="card-block">
			   
				    <p class="card-text">informacion Disciplinario del Personal a Ascender.</p>
			  	</div>
			</div>
			<div class="card">
			  	<i class="fa fa-users text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#444;"></i>
		 	 <h3 class="card-header text-center">Comandante</h3>
			  	<div class="card-block">
			   
				    <p class="card-text">Los comandante de Unidad Deben evaluar a sus Subalternos</p>
			  	</div>
			</div>

		  
		  </div>
		</div>

	</section>

	<div class="container_fluid">
		<div class="row">
			<div id="ventajas" class="col-md-12 text-justify ">
				<h2 class="text-center display-5 mb-5">Ventajas de usar Ascensos en Linea	</h2>
				<div class="container">	
				<dl class="row">	
					<div class="col-md-4">
						<dt class="text-center">Agilza el Proceso</dt>		
						<dd >En Ascensos en linea puedes verificar, validad , proponer , presentar la informacion, generar estadisticas que son un a herra al mando para la toma de decisiones , generando un perfil que permita 	</dd>
					</div>
					<div class="col-md-4">

						
						<dt class="text-center">
							<p class="text-center">
								
								<i class="fa fa-server fa-4x " aria-hidden="true"></i>
							</p>


							Integracion con SIATH</dt>
						<dd >En Ascensos en linea puedes verificar, validad , proponer , presentar la informacion, generar estadisticas que son un a herra al mando para la toma de decisiones , generando un perfil que permita 	</dd>
					</div>
					<div class="col-md-4">	
						<dt class="text-center"></dt>
						<dd >En Ascensos en linea puedes verificar, validad , proponer , presentar la informacion, generar estadisticas que son un a herra al mando para la toma de decisiones , generando un perfil que permita 	</dd>
					</div>

				</dl>		
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="reportes" class="col-md-12 text-justify ">
				<h2 class="text-center display-5">Generacion de Reportes</h2>
				<div class="container">	
				<dl class="row">	
					<div class="col-md-4">
						<dt class="text-center">Graficos Radar</dt>		
						<dd ><canvas id="radio">	</canvas> 	</dd>
					</div>
					<div class="col-md-8">	
						<dt class="text-center">Integracion con SIATH</dt>
						<dd ><canvas id="bar">	</canvas> </dd>
					</div>
					<div class="col-md-4">	
						<dt class="text-center"></dt>
						<dd ></dd>
					</div>

				</dl>		
				</div>
			</div>
		</div>
	</div>
<script>
	var ctx = document.getElementById("radio").getContext("2d");
	var ctx_bar = document.getElementById("bar").getContext("2d");	
	var datos = {
	
    labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
    datasets: [
        {
            label: "Datos Diligenciados",
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            data: [65, 59, 80, 81, 56, 55, 40],
        }
    ]
};
	var chart_bar = new Chart(ctx_bar,{
		type:'bar',
		data:datos,
		options:{
			responsive:true,
		}
	});

	var myChart = new Chart(ctx, {
	    type: 'radar',
	    data: {
	        labels: ["Operativo", "", "Yellow", "Green", "Purple", "Orange"],
	        datasets: [{
	            label: 'Perfil del Tripulante',
	            data: [8, 10, 3, 5, 2, 3],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 2
	        }]
	    },
	    options: {
	    	responsive:true,
    	 	title: {
            display: true,
            text: 'Perfil del Tripulante'
        		},


	        scales: {
	        	scaleLabel : {FontSize:40},
	        	pointLabels: {
    			fontSize: 20
          		},

	            // yAxes: [{
	            //     ticks: {
	            //         beginAtZero:false
	            //     }
	            // }]
	        }
	    }
	});
</script>




{% endblock %}