# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:

#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  ldap:
    class: Symfony\Component\Ldap\LdapClient
    arguments:
        - 172.24.10.43   # host
        - 389             # port
        - 3              # version
        - false           # SSL
        - false          # TLS