		<section class="container" id="panel-principal" *ngIf='identidad && identidad!= null'>
			<div class="row">

				<div class="jumbotron row  col-md-12">
					<div class="col-md-8">
				    <h2 class="display-5" style="font-size:1.39em">Bienvenido {{identidad.sub}}</h2>
				    <p class="lead"> <strong>Dependencia:</strong> {{identidad.dependencia}}</p>
					</div>
					<div class="col-md-4 text-right">
						<strong>Perfil:</strong> {{identidad.role}}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="card card-panel">
						<a class='text-center ' [routerLink]="['matriz']">
					  	 <i class="fa fa-cog  card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
						</a>
				 	 <h3 class="card-header text-center">Matriz de validacion</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-panel">
						<a class='text-center' [routerLink]="['listado']">
					  	 <i class="fa fa-list  card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
						</a>
				 	 <h3 class="card-header text-center">Personal a Ascender</h3>
					</div>
				</div>
			<div class="col-md-4">
			<div class="card card-panel">
				<a class='text-center' [routerLink]="['persona']">
			  	<i class="fa fa-user-circle text-center card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
			  </a>
		 	 <h3 class="card-header text-center">Busqueda por Persona</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-panel">
				<a class='text-center' [routerLink]="['reporte']">
			  	<i class="fa fa-file-text-o text-center card-img-top" aria-hidden="true" style="font-size:100px;     color: #464a4c;;"></i>
			  	</a>
		 	 <h3 class="card-header text-center">Generar Reporte</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-panel">
				<a class='text-center' [routerLink]="['reporte']">
			  	<i class="fa fa-university text-center card-img-top" aria-hidden="true" style="font-size:100px;     color: #464a4c;"></i>
				</a>
		 	 <h3 class="card-header text-center">Acto Administrativo</h3>

			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-panel">
			<a class="text-center " [routerLink]="['estadisticas']">
			  	<i class="fa fa-line-chart text-center card-img-top" aria-hidden="true" style="font-size:100px; color: #464a4c;"></i>
		 	 </a>
		 	 <h3 class="card-header text-center">Estadisticas</h3>

			</div>
		</div>
		  </div>
	</section>
