h2{
  text-align: center;
}
input[type='range']{
  width: 20vw;
  margin: 1.5em auto;
  /*display: block;*/
}
input[type='date']{
  height: 35px;
  display:inline-flex;
}
.flex_bet{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  list-style: none;
}
.flex_bet>*{
  flex:1;
}
.flex-col{
  display: flex;
}
.input-group>*{
  margin: 0 .8em;
}
form{
  border-radius: .3em;
  box-shadow:  .0em .1em .3em gray;
  padding: 3em;
}

@media (max-width: 600px){
  .flex_bet{

    flex-flow: column;
  }
}
