<persona *ngIf='parametro'></persona>

<section id='formulario_disan' >
<form #formDisan='ngForm' (ngSubmit)='onSubmit()'  class="container row col-md-6 mx-auto">
  <div class="col-md-10 mx-auto">
    <div class="col-md-12 flex-col mx-auto" >
      <label for="fecha">Fecha</label>
      <input type="date" id='fecha' class="form-control" #fecha='ngModel' name='fecha' [(ngModel)]='datos.fecha' required="">
    </div>
      <hr>
    <div class="flex_bet">
      <label for="realizada">Realizada
        <select  id="realizada" class="form-control" #realizada='ngModel' name='realizada' [(ngModel)]='datos.realizada' required="" >
          <option value="si">Si</option>
          <option value="no">No</option>
          <option value="pend">Pendiente</option>
        </select>
      </label>
      <label for="numero">N°<input type="number" id='numero' class="form-control" name='numero' #numero='ngModel' [(ngModel)]='datos.numero'></label>
      <label for="decision">Decision
        <select name="decision" id="decision" class="form-control" #decision='ngModel' [(ngModel)]='datos.decision'>
        <optgroup label="Decisiones" *ngIf='seccion!="clyso"'>
          <option value="a">Apto</option>
          <option value="na">No Apto</option>
          <option value="nar">No Apto con Reubicacion</option>
          <option value="nas">No Apto sin Reubicacion</option>
        </optgroup>
        <optgroup name="decision" label="Require Reubicacion" *ngIf='seccion=="clyso"' #decision='ngModel' [(ngModel)]='datos.decision'>
          <option value="">Si-Cambio Cuerpo y Especialidad </option>
          <option value="">No Requirere</option>
        </optgroup>
      </select></label>
    </div>
    <div *ngIf='seccion!="clyso"'>

     <p>Literal</p>
     <div id='miradio'>

     <input type="radio" value="a" name="literal" id='a' [(ngModel)]="datos.literal">
     <label for="a" class='btn btn-primary'>A</label>

      <input type="radio" value="b" name="literal"  id='b' [(ngModel)]="datos.literal">
      <label for="b" class='btn btn-primary'>B</label>

      <input type="radio" value="c" name="literal" id='c' [(ngModel)]="datos.literal">
      <label for="c" class='btn btn-primary'>C</label>
      </div>


    <!-- <div [(ngModel)]='datos.literal' ngbRadioGroup name="literal" class="flex_bet">
      <label for="" class="btn btn-outline-primary">
        <input type="radio"  value='a'    >A
      </label>
      <label for="" class="btn btn-outline-primary">
        <input type="radio"  value='b'  >B
      </label>
      <label for="" class="btn btn-outline-primary">
        <input type="radio"  value='c'   >C
      </label>
    </div> -->
    <label for="dcl" class='block' title="Disminucion de la Capacidad Laboral" >
      D.  Capacidad Laboral
    </label>
  <input type="range" id="disminucion" name='disminucion' #disminucion='ngModel' [(ngModel)]='formDisan.dcl' (change)='updatedcl(disminucion.value)' >
  {{disminucion.value}}
  </div>
  <label for="">Observaciones</label>
  <textarea  class='form-control' rows="5" cols="70" #observaciones='ngModel' [(ngModel)]='datos.observaciones'  name="observaciones"></textarea>
<hr>
    <input type="submit" class='btn btn-primary col-sm-12' value='Ingresa'>
    <a class="btn btn-secondary col-sm-12 my-2">Limpiar</a>
  </div>
</form>
</section>
