	<section class="container">
		<div class="row">
			<div class="col text-center">
				<i class="fa fa-hospital-o" aria-hidden="true"></i>
				<p class="h2">
					SANIDAD
				</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-panel">
					<a class='text-center' [routerLink]="['estado_salud']">
				  	 <i class="fa fa-heartbeat   card-img-top" aria-hidden="true" ></i>
					</a>
			 	 <h3 class="card-header text-center">Estado de Salud</h3>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-panel">
					<a class='text-center' [routerLink]="['juntas_medicas']">
				  	 <i class="fa fa-stethoscope  card-img-top" aria-hidden="true"></i>
					</a>
			 	 <h3 class="card-header text-center">Juntas Medicas</h3>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-panel">
					<a class='text-center' [routerLink]="['tribunal_medico']">
				  	 <i class="fa fa-medkit  card-img-top" aria-hidden="true"></i>
					</a>
			 	 <h3 class="card-header text-center">Tribunal Medico Laboral</h3>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-panel">
					<a class='text-center' [routerLink]="['clyso']">
						<i class="fa fa-user-md" aria-hidden="true" ></i>
					</a>
			 	 <h3 class="card-header text-center">CLYSO</h3>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-panel">
					<a class='text-center' href="">
				  	 <i class="fa fa-pencil-square-o  card-img-top" aria-hidden="true"></i>
					</a>
			 	 <h3 class="card-header text-center">Pendientes</h3>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-panel">
					<a class='text-center' href="">
				  	 <i class="fa fa-user-circle  card-img-top" aria-hidden="true" ></i>
					</a>
			 	 <h3 class="card-header text-center">Busqueda por usuario</h3>
				</div>
			</div>
		</div>
	</section>
