<h2 class="text-center">
  Matriz de Evaluacion Integral
</h2>
<hr>
<div class="row">
  <graficos class='col-md-4 mx-auto' tipo="radar" [datos]="data_radar" [etiquetas]='labels_radar' [color]='color_radar'></graficos>
</div>
<section id="panel-matriz" class="col-md-12 text-center ">
  <article class="mx-auto">
    <button class="btn btn-lg" (click)='panel("indicadores")'>Indicadores</button>
    <button class="btn btn-lg" (click)='panel("factores")'>Factores</button>
    <button class="btn btn-lg" (click)='panel("puntuacion")'>Puntuacion</button>
  </article>
</section>
<section [ngSwitch]='panelSeleccionado'>
  <article *ngSwitchCase="'indicadores'" class="col-md-9 mx-auto mt-5">
    <header>
      <h3>Indicadores</h3>
      <hr>
    </header>
    <ul class='lista-indicadores'>
      <li *ngFor='let ind of matriz["indicadores"]'><button class="btn btn-md btn-secondary">{{ind.nombre}}</button></li>
    </ul>
    <hr>
    <p><i class="fa fa-plus-square" aria-hidden="true"></i>Ingresar Indicador</p>
  </article>
  <div *ngSwitchCase="'factores'" class="col-md-9 mx-auto">
    <header>
      <h3>Panel Factores</h3>
      <hr>
    </header>
    <form #formIndicadores='ngForm'>
      <select name='indicador' class="form-control col-md-3 mx-auto" [(ngModel)]="indicador_seleccionado">
          <option disabled >Indicador</option>
          <option  *ngFor='let ind of matriz["indicadores"]; let i = index ' [ngValue]='i'>{{ind.nombre}}</option>
        </select>
    </form>
    <hr>
    <div *ngIf='indicador_seleccionado+1>=1'>
      <ul class='lista-factores' *ngIf='indicadores!="[]"'>
        <li *ngFor='let f of matriz["indicadores"][indicador_seleccionado]["factores"]'>
          {{f.nombre}}
        </li>

      </ul>
    </div>
    <p><i class="fa fa-plus-square" aria-hidden="true"></i>Ingresar Factor</p>
    <hr>
  </div>
  <div *ngSwitchCase="'puntuacion'" class="col-md-9 mx-auto">
    <header>
      <h3>Puntuacion</h3>
      <hr>
    </header>
    <div class=" col-md-12  mx-auto">

      <form #formIndicadores='ngForm' class="row">
        <select name='indicador' class="form-control col-md-4 mx-auto" [(ngModel)]="indicador_seleccionado">
            <option disabled >Indicador</option>
            <option  *ngFor='let ind of matriz["indicadores"]; let i = index ' [ngValue]='i'>{{ind.nombre}}</option>
          </select>

      <hr>

        <div *ngIf='indicador_seleccionado+1>=1' class="col-md-6">
          <select name='factor' class='form-control col-md-6' [(ngModel)]='factor_seleccionado' *ngIf='factores!="[]"'>
            <optgroup label="Factores">
              <option *ngFor='let f of matriz["indicadores"][indicador_seleccionado]["factores"]; let i = index' [ngValue]='i'>
                {{f.nombre}}
              </option>
            </optgroup>

          </select>
          </div>
      </form>
        </div>

        <div *ngIf='!matriz["indicadores"][indicador_seleccionado]["factores"][factor_seleccionado].puntuacion' >
          <p>No se ha ingresado puntuacion</p>
        </div>
        <div *ngIf='matriz["indicadores"][indicador_seleccionado]["factores"][factor_seleccionado].puntuacion' >
          <table class="table table-bordered">
            <thead class="thead-default ">
                <tr >
                  <th class="text-center">tipo</th>
                  <th class="text-center">puntos</th>
                </tr>
            </thead>
            <tbody *ngFor='let p of matriz["indicadores"][indicador_seleccionado]["factores"][factor_seleccionado].puntuacion '>
                <tr>
                  <td>{{p.tipo}}</td>
                  <td>{{p.puntos}}</td>
                </tr>
            </tbody>
          </table>
        </div>
        <p>
          <i class="fa fa-plus-square" aria-hidden="true"></i>Ingresar Tipo de Puntuacion
        </p>
    </div>
</section>
