<hr><h2 class="text-center">Toma de Decisiones</h2><hr>
<form #tomaForm='ngForm' (ngSubmit)="onSubmit()" class="container col-md-3 card" >
  <fieldset>
    <hr>
    <legend>Año</legend>
  <select  class="" name="year" class="form-control col-md-4 mx-auto" required="required">
      <option value=""></option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
  </select>
  <!-- <div *ngIf='!year.valid && year.touched' class="alert alert-danger">
     Ingresa un año
  </div> -->
</fieldset>
<hr>
  <div class="row my-3">
  <fieldset class="col-md-6 text-center">
    <legend>Categoria</legend>
<hr>
      <div class="">
      <label for="oficial"  class="">Oficiales</label>
      <input type="radio" name='categoria' id="oficial" value='oficiales' class="" required="required">
      </div>
      <div class="">
        <label for="suboficial" class="">Suboficiales</label>
        <input  type="radio" name='categoria' id="suboficial" value='suboficiales' class="">
      </div>

  </fieldset>
  <fieldset class="col-md-6 text-center">
    <legend>Turno</legend>
    <hr>
      <div>
      <label for="primero" >Primero</label>
      <input  type="radio" name='turno'  value='1' id="primero" >
      </div>
      <div>
        <label for="segundo" class="">Segundo</label>
        <input  type="radio" name='turno'  id="segundo" value='2'>
      </div>
  </fieldset>
</div>
<hr>
<!-- <div *ngIf='!categoria.valid && categoria.touched' class="alert alert-danger">
   Ingresa un año
</div> -->
<div class="row my-4">
  <input type="submit" value="Ver Listado" class="btn btn-primary form-control col-md-5 mx-3 ">
  <a class="btn btn-secondary form-control col-md-5">Limpiar</a>

</div>
</form>
<p class="alert alert-info col-md-3 mx-auto">Año:Categoria: Turno:</p>
<div class="table-responsive" *ngIf='listadoResultado'>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">CATEGORIA</th>
        <th class="text-center">GR.</th>
        <th class="text-center">NOMBRE</th>
        <th class="text-center">CARGO</th>
        <th class="text-center">UNIDAD</th>
        <th class="text-center">SIGLA</th>
        <th class="text-center">ESPECIALIDAD</th>
        <th class="text-center">GUARNICION</th>
    </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor='let postulado of listadoResultado'>
          <td>{{postulado.IDENTIFICACION}}</td>
          <td>{{postulado.CATEGORIA}}</td>
          <td>{{postulado.GRADO}}</td>
          <td>{{postulado.APELLIDOS}} {{postulado.NOMBRES}}</td>
          <td>{{postulado.CARGO_ACTUAL}}</td>
          <td>{{postulado.UNIDAD}}</td>
          <td>{{postulado.SIGLA}}</td>
          <td>{{postulado.ESPECIALIDAD}}</td>
          <td>{{postulado.GUARNICION}}</td>
      </tr> -->
    </tbody>
  </table>
</div>
