<div>
	<table class="table">
		<tr>
			<th>Felicitaciones :</th>
				<td>{{felicitaciones.NUM}}</td>
			<th>Medallas:</th>
			<td>{{medallas.NUM}}</td>
			<th>Ausencias Lab:</th>
			<td>{{ausencias.NUM}} Dias</td>
		</tr>
	</table>
</div>