legend{
  text-align: center;
  font-size: 1.2em;
  padding: 0;
}
hr{
  margin: 0.5em;
}
tbody{
  font-size: .69em;
}
.pagination{
  justify-content: center;
}
ngb-pagination{
    display: flex;
    margin: auto;
    justify-content: center;
}
