.lista-idioma{
	display: flex;
	justify-content: space-around;
	text-align: center;
	list-style: none;
}
ngb-pagination{
		display: flex;
    justify-content: center;
}
.card-group{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}
.pagination .nav-item{

}
.img-especialidad{
	width: 150px;
}
#Contenido-tab{
	padding: 3em;
}
table th {
	text-align: center;
	text-transform: uppercase;
}
#colapsa, .tab, figure{
  margin: 0;
}
#hoja_personal,#colapsa, .tab ,.card {
    padding: 0;
}
#hoja_personal a{
  color: #31708f;

}
#hoja_personal a:hover{
  text-decoration: none;
}
#hoja_personal a .card-header{
  text-align: center;
	background: #eee;
}

#hoja_personal a .card-header:hover{
  background: #fff;
}
#estimulos-represiones td button{
	font-size:.7em
}
.pop{
	height: 92vh;
	width: 95vw;
	background-color: white;
	box-shadow: 0em 0em .3em gray;
	margin: auto;
	position: fixed;
	top:3.5em;
	left: 2em;
	overflow-y: scroll;
	padding: 0em 1em;
}
.mifixed{
	position: fixed;
	/*width: 100%;*/
	color:gray; font-size:1em;
	display: block;
	background: white;
}

.oculta{
		transition-property: all;
		display:none;
}
.muestra{
		transition-property: all;
		display: block;
}
.progress{
	 padding:  .1em 0em;
	 margin: auto;
	 font-size: .8em;
}
.encabezado{
  background-color: #636c72;
      color: #f7f7f9;
      text-align: center;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      padding: 1em;
}
.img-grado{
	width: 4.2rem;
}
/*Interactividad----------------------------------*/
.tab{
  display: flex;
  /*flex-flow: row wrap;*/
  list-style: none;
	margin-top: .3em;
}
.tab li{
	border-radius: 1em ;
	flex: 1;
	padding: .1em;
}
.tab i{
	font-size: 2em;
	color: white;
}
.tab a{
	font-size: 0.8em;
	background: #636c72;
	padding: .5em;
	color: white !important;
	display: block;
	border-radius: 1em 1em 0 0;
}

.tab-colapse{
	background-color: red;
}
