{% extends 'default/base.html.twig' %}
{% block header %}
{% endblock %}
{% block main %}
	<main class="container">
		<section class="container">
			<div class="row">

				<div class="col text-center">
					<i class="fa fa-plus-square" aria-hidden="true" style="font-size:100px; color:#a94442;"></i>
					<p class="display-4">
						SANIDAD
					</p>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<a class='text-center' href="{{url('juntas_medicas')}}">

					  	 <i class="fa fa-user-md  card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
						</a>
				 	 <h3 class="card-header text-center">Juntas Medicas</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<a class='text-center' href="{{url('estado_salud')}}">

					  	 <i class="fa fa-heartbeat  card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
						</a>
				 	 <h3 class="card-header text-center">Estado de Salud</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<a class='text-center' href="{{url('ingresa_certificacion')}}">

					  	 <i class="fa fa-pencil-square-o  card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
						</a>
				 	 <h3 class="card-header text-center">Ver Pendientes</h3>
					</div>
				</div>
			</div>
		</section>
		</section>	
{% endblock %}

