.card{
	margin-bottom:  50px;
}

#logo{
	font-size: 1.3rem;
	animation-name: vuelos;
	animation-duration: 2s;
}
/*** HOJA DE REPORTES-------------------------------------------
*/
#myChart{
	box-sizing: border-box;
}

dd {
    padding: 1em;
    margin: 1em;
}

/*Notificacion------------------------------------------------------*/

.modal-grande {
    max-width: 80vw !important;
}
.nav-item{
	    padding: .3em 0;
			font-size: 1.2em;
}
#campanita{
	padding: .3em 0 0 0;
}

@keyframes vuelos {
	from{
		margin-left: -20em;

	}
	to{
		margin-left: 0em;
	}
}
/*---------------------------------------------------*/
@media screen and (max-width: 900px) {

	header#inicio{
		padding: 0;
		margin: 0;
	}
	#min-panel-user{
		font-size: 0.75em;
		margin-left: 3em;
	}
	  .fixed-top {
	    position: static;
	    margin-bottom: 0em;
	    padding: 0;
	}
	.fixed-top .container{
		width: 100%;
		text-align: center;
	}
	.fixed-top .container a{
		box-shadow: 0 0 0.01em 0.01em white;
		transition: box-shadow 1s, background-color 1s;
	}
	.fixed-top .container a:hover{
		box-shadow: 0 0 1.5em gray;
		background-color: white;
		color: gray;
	}
	.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    	color: #31708f;
}
	.navbar-brand{
		padding-bottom: .8rem;
	}

}
@media screen and (max-width: 500px) {

footer{
	position: relative;
}
@media (min-width: 1200px){
	main {
    min-height: 84vh;
	}
}
